body {
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009FFF, #ec2F4B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009FFF, #ec2F4B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cartas{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    margin-top: 5rem;
}

.fw-bold{
font-size: 1.8rem;
}
.logoHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

