*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009FFF, #ec2F4B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009FFF, #ec2F4B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.botones{
    gap: 20px;
    margin-left: 3rem;
}
footer {
    margin-top: 300px;
    background-color: rgb(39, 86, 128, .5);
    color: white;
    text-align: center;
    padding: 20px 100px;
  }
  .contenedorinfo{
    display: flex;
    flex-direction: row;
    gap: 30rem;
    justify-content: center;
    padding: 100px;
}

.contenedorredes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes{
display: flex;
flex-direction: row;
}

.textRedes{
    display: block;
    left: 45rem;
    font-size: 25px;
    
}
.textRedes2{
    display: block;
    left: 45rem;
    font-size: 25px;
}
.textRedes3{
    display: block;
    left: 45rem;
    font-size: 25px;
}