*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009FFF, #ec2F4B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009FFF, #ec2F4B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.botones{
 gap: 20px;
 margin-left: 3rem;
}

/* .botones a {
    border: 3px solid rgb(255, 96, 96);
    border-radius: 5rem;
} */

main {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.c-item {
    height: 480px;
}

.leftside h1 {
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.card-group {
    display: contents;
    gap: 50px;
    flex-wrap: wrap;
    margin: 50px;
}

footer {
    background-color: rgb(39, 86, 128, .5);
    color: white;
    text-align: center;
    padding: 20px 100px;
  }